<phpunit bootstrap="./vendor/autoload.php" colors="true" >
  <testsuites>
    <testsuite name="helloWorld">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory>src/Enums</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
